.search {
  margin-top:-39px;
}

.nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

footer ul li {
  list-style-type: none;
  float: left;
  margin: 0 5px;
}