app/cache/*
app/logs/*
backend/cache/*
backend/logs/*
backend/config/parameters.yml
web/bundles/*
.DS_Store
nbproject/
vendor/*
catalog.xml
app/config/parameters.yml
web/css/combined*.css
web/css/*-sprite.css
web/js/combined*.js
web/img/*sprite.png
web/coverage
src/rs/ProjectUtilitiesBundle
