{% extends "::base.html.twig" %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="span8 main">
                {% block body %}{% endblock %}
            </div>

            <div class="span4">
                {% block sidebar %}{% endblock %}
                {{ render(controller('rskaoz4FrontBundle:Home:sidebar'), {'strategy': 'esi'}) }}
            </div>
        </div>
    </div>
{% endblock %}