{% extends "::base.html.twig" %}

{% block page %}
    <div class="row">
        <div class="span12">
            {% block body %}{% endblock %}            
        </div>

        <div class="span4">
            {% block sidebar %}{% endblock %}
            {% render 'rskaoz4FrontBundle:Home:sidebar' with {}, {'standalone': true} %}                
        </div>
    </div>
{% endblock %}