{% extends '::layout.html.twig' %}

{% block page_content %}
    <div class="row">
        <article class="col-md-12" id="content">
            {# content #}
            {% block content %}
            {% endblock %}
        </article>

    </div>
{% endblock %}
