<div class="row">
    {% for repo in repos %}
        <div class="col-md-6">
            <iframe src="/js/libs/github-cards/card.html?user={{ repo.owner.login }}&repo={{ repo.name }}&target=blank" frameborder="0" scrolling="0" width="100%" height="250" allowtransparency></iframe>
        </div>
    {% endfor %}
</div>

