/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2.1 (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.3
 */

@media screen, projection
{
  /** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */

  body { overflow-y: scroll; }

  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { background: #3b69ad none; padding: 10px 0; }

  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins { margin: 0 auto; }

  /* Layout Properties | Layout-Eigenschaften */
  .page_margins { width: auto;  min-width: 240px; max-width: 90em; background: #fff; }
  .page { padding: 10px 15px 10px 10px; }
  #header { padding: 45px 2em 1em 20px; color: #000; background: #fff; }
  #nav { overflow:hidden; }
  #main { margin: 10px 0; background: #fff; }
  #footer { padding: 10px 20px; color:#666; background: #f9f9f9; border-top: 5px #efefef solid; }

  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul { margin-left: 20px; }

  /*-------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */

  #col1 { float: left; width: 66%}
  #col2 { display:none}
  #col3 { width: auto; margin: 0 0 0 66%}
  #col1_content { padding: 0 10px 0 20px }
  #col3_content { padding: 0 20px 0 10px }
	
  /*-------------------------------------------------------------------------*/

  .page_margins {
    border: 0 none;
  }

  .page {
    border: 0 none;
    margin: 0 0 0 5px; padding: 10px 15px 10px 10px;
  }

  .hlist {
    /* (en) containing floats in IE */
    /* (de) Einfassen der Floats im IE */
    width:100%;
    overflow:hidden;
    /* (en) containing floats in all other browsers */
    /* (de) Einfassen der Floats in allen anderen Browsern */
    float:left;
    display:inline;
    /* (en|de) Bugfix:IE - collapsing horizontal margins */
    position:relative;
    /* (en) Repeat the main color from the image */
    /* (de) Wiederholung der Hauptfarbe aus der Bilddatei */
    background:#c0c0c0 none repeat-x center right;
    border-top:1px #333 solid;
    border-bottom:1px #333 solid;
    line-height:0;
  }

  .hlist ul {
    margin:0;
    padding:0;
    /* (en|de) Bugfix:IE - Doubled Float Margin Bug */
    display:inline;
    float:left; /* LTR */
    /* (en) Left margin of the first button  */
    /* (de) Abstand des ersten Buttons vom linken Rand  */
    border-left:1px #aaa solid;
    border-right:1px #fff solid;
  }

  .hlist ul li {
    border-left:1px #fff solid;
    border-right:1px #aaa solid;
    /* (en|de) Bugfix:IE - Doubled Float Margin Bug */
    display:inline;
    float:left; /* LTR */
    font-size:1.0em;
    line-height:1em;
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .hlist ul li a,
  .hlist ul li strong {
    background:transparent;
    color:#000;
    display:block;
    font-size:1em;
    font-weight:bold;
    margin:0;
    padding:0.5em 0.8em 0.5em 0.8em;
    text-decoration:none;
    width:auto;
  }

  .hlist ul li a:focus,
  .hlist ul li a:hover,
  .hlist ul li a:active  { background:#eee; color:#333; text-decoration:none; outline: 0 none; }

  .hlist ul li.active {
    /* (en) Repeat the main color from the image */
    /* (de) Wiederholung der Hauptfarbe aus der Bilddatei */
    background:#272727 none repeat-x center right;
    border-left:1px #444 solid;
    border-right:1px #888 solid;
  }

  .hlist ul li.active strong,
  .hlist ul li.active a:focus,
  .hlist ul li.active a:hover,
  .hlist ul li.active a:active { background:transparent; color:#fff; text-decoration:none; }
  
}