{% extends "::base2col.html.twig" %}

{% block title %} Projects {% endblock %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h2>Projects</h2>
    </div>

    {% if projects %}
          {% for project in projects %}
            {% include 'rskaoz4FrontBundle:Projects:short.html.twig' with { 'slug': project.slug, 'full': false } %}
          {% endfor %}
    {% endif %}
</div>
{% endblock %}