{% extends "::base.html.twig" %}

{% block title %} Projects {% endblock %}

{% block body %}

    <h2>Projects</h2>

    {% if projects %}
          {% for project in projects %}
            {% include 'rskaoz4FrontBundle:Projects:short.html.twig' with { 'slug': project.slug, 'full': false } %}
          {% endfor %}
    {% endif %}

{% endblock %}