<form class="contact-form form-stacked" action="" {{ form_enctype(form) }} method="post">
    {{ form_widget(form) }}
    <input type="submit" class="btn primary" value="{% trans %}Submit contact form{% endtrans %}" />
</form>