<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="knp_menu.main.class">Knp\Menu\MenuItem</parameter>
        <parameter key="knp_menu.builder.class">rs\kaoz4FrontBundle\Menu\MenuBuilder</parameter>
    </parameters>

    <services>
        <service id="menu_builder" class="%knp_menu.builder.class%">
            <argument type="service" id="knp_menu.factory" />
        </service>
        
        <service id="menu.main" class="%knp_menu.main.class%" scope="request" factory-service="menu_builder" factory-method="createMainMenu">
            <tag name="knp_menu.menu" alias="main" />
            <argument type="service" id="request" />
        </service>
    </services>


</container>