{% extends "::base2col.html.twig" %}

{% block title %} Blog {% endblock %}

{% block body %}

<div class="container">

    <div class="page-header">
        <h2>Blog</h2>
    </div>

    {% if paginator %}
        {% for post in paginator %}
            {% include 'rskaoz4FrontBundle:Blog:short.html.twig' with { 'post': post, 'full': loop.index == 1} %}
        {% endfor %}

        {{ paginator.render()|raw }}
    
    {% endif %}

</div>

{% endblock %}