{% extends "::base2col.html.twig" %}

{% block title %} Blog {% endblock %}

{% block body %}

    <h2>Blog</h2>

    {% if posts %}
          {% for post in posts %}
            {% include 'rskaoz4FrontBundle:Blog:short.html.twig' with { 'post': post, 'full': loop.index == 1} %}
          {% endfor %}
    {% endif %}

{% endblock %}