{% extends "::base.html.twig" %}

{% block title %} Bio {% endblock %}

{% block body %}

    <h2>Bio</h2>

    <img src="{{ asset('img/me.jpg') }}" alt="me" title="me" style="float:left" />

    <h3>About</h3>
    <p>Lorem ipsum dolizzle sure amizzle, consectetuer adipiscing sizzle. Nullizzle we gonna chung velizzle, funky fresh volutpizzle, suscipit boom shackalack, gravida vel, crazy. Pellentesque shizzlin dizzle tortizzle. Sizzle eros. Shut the shizzle up owned dolor boofron ma nizzle hizzle brizzle. Maurizzle pellentesque nibh izzle turpis. Bling bling izzle tortizzle. Its fo rizzle eleifend rhoncizzle bow wow wow. In shizzlin dizzle platea dictumst. Tellivizzle dapibus. Curabitizzle izzle urna, pretium we gonna chung, mattizzle i'm in the shizzle, you son of a bizzle its fo rizzle, nunc. Own yo' suscipizzle. Integizzle semper bow wow wow sizzle funky fresh.</p>

    {% include 'rskaoz4FrontBundle:Home:bio_section.html.twig' with { 'section': 'Hobbys', 'elements': hobbys } %}
    {% include 'rskaoz4FrontBundle:Home:bio_section.html.twig' with { 'section': 'Languages', 'elements': languages } %}
    {% include 'rskaoz4FrontBundle:Home:bio_section.html.twig' with { 'section': 'Frameworks', 'elements': frameworks } %}
    {% include 'rskaoz4FrontBundle:Home:bio_section.html.twig' with { 'section': 'Work', 'elements': works } %}
    {% include 'rskaoz4FrontBundle:Home:bio_section.html.twig' with { 'section': 'Education', 'elements': educations } %}
    
{% endblock %}