{% extends "::base2col.html.twig" %}

{% block title %} Contact {% endblock %}

{% block body %}

    <h2>Contact</h2>
    
    <div class="row">
        <form class="contact-form form-stacked" action="" {{ form_enctype(form) }} method="post">
            {{ form_widget(form) }}
            <input type="submit" class="btn primary" value="{% trans %}Submit contact form{% endtrans %}" />
        </form>
    </div>
    
{% endblock %}