{% extends "::base2col.html.twig" %}

{% block title %} Networks {% endblock %}

{% block body %}

    <div class="row">
        {% render "IHQSContactBundle:Contact:form" %}
    </div>
    
{% endblock %}