<div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
        <div class="container">
            <h2 class="pull-left">
                <a href="http://digitalkaoz.net">Digital.kaoZ</a>
            </h2>
            <div id="nav" class="span8">{% render 'rskaoz4FrontBundle:Home:mainNavigation' with {}, {'standalone': true} %}</div>

            <form class="pull-right" action="{{ path('search') }}" method="GET">
                <input type="text" name="q" value="{{ app.request.get('q') }}" placeholder="Search" />
            </form>
        </div>
    </div>
</div>
