{% extends "::base1col.html.twig" %}

{% block title %} Home {% endblock %}

{% block body %}


<div class="container">
    <section>
        <div class="row main">
            <div class="span8 offset2">
                <div class="page-header">
                    <h2>Neuester Blog Artikel</h2>
                </div>
                {{ render(controller('rskaoz4FrontBundle:Blog:latest'), {'strategy': 'esi'}) }}
            </div>
        </div>
    </section>

    <section>
        <div class="row main">
            <div class="span4 offset2">
                <div class="tile50">
                    <h2>Neuestes Projekt</h2>
                    {{ render(controller('rskaoz4FrontBundle:Project:latest'), {'strategy': 'esi'}) }}
                </div>
            </div>
            <div class="span4">
                <div class="tile50">
                    <h2 class="twitter">Twitter Feed</h2>
                    {{ render(controller("KnpLastTweetsBundle:Twitter:lastTweets", {'username': 'digitalkaoz'}), {'strategy': 'esi'}) }}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}