php_value xdebug.auto_trace 0
php_value xdebug.trace_format  0
php_value xdebug.trace_output_dir  /tmp
php_value xdebug.trace_options  1

php_value xdebug.profiler_output_dir /tmp
php_value xdebug.profiler_enable 0

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
